<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>GoDropBox</title>
	<link rel="stylesheet" href="css/webLayoutStyle.css" type="text/css">
    
    <link rel="stylesheet" href="css/popup.css" type="text/css">
    
</head>
<body>	
	<div id="contents">
        <div id="welcomeText">
            <h2>Welcome to GoDropBox!</h2>
            <img class="welcomePic" src="img/GoBoxAbout.png" />
            <div ng-controller="loginController">
                <button ng-click="go('/signin')" class="buttonBig" id="landingSignIn">Log in</button>
                <p style="clear:both">
            </div>

            <div ng-controller="registerController">
                <button ng-click="go('/signup')" class="buttonBig" id="landingsignUp">Sign up</button>
                <p style="clear:both">
            </div>   
        </div>
	</div>
</body>
</html>